<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- The following doctype doesn't work when offline, so default to old one, which does work.
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">-->
<hibernate-configuration>
 <session-factory name="">
  <mapping class="org.appfuse.model.User"/>
  <mapping class="org.appfuse.model.Role"/>
  <mapping class="com.mycompany.weapp.model.Person"/>
 </session-factory>
</hibernate-configuration>
